<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Назад</a>
<h1>Кот {{cat['name']}}</h1>
<img style="height: 100px;" src="{{ cat['photo'] }}"/>
<p>{{cat['description']}}</p>
<p>
    <strong>Лайков: {{ cat['likes'] }}</strong></p>
<p>
    <strong>Комментарии:</strong>
</p>
{% for comment in cat['comments'] %}
<h4>{{ comment['author'] }}</h4>
<p>{{ comment['text'] }}</p>
<small>Дата: {{ comment['date'] }}</small>
{% endfor %}
</body>
</html>